// обнуляем стили для ссылок на страничках
a {
  text-decoration: none;
  color: inherit;
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// обнуляем стиль для заголовков
.title {
  margin-top: 0;
  margin-bottom: 0;
}

// обнуляем стиль для параграфов
p {
  margin: 0;
}

// обнуляем стиль списков сайта
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// обнуляем стили для элементов формы
label,
input,
form {
  margin: 0;
  padding: 0;
}

// обнуляем стиль заголовков
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
