$main-text-color: #ffffff;
$second-text-color: #212121;
$title-text-color: #d41443;
$main-font: 'DM Sans', sans-serif;
$title-font: 'Titan One', cursive;
$bg-color-main: #fff5f6;
$bg-color-btn-hover: #ecebeb;
