<section class="about">
  <div class="container">
    <p class="section__pre-title section__pre-title--margin-bottom">tradition and love</p>
    <h2 class="section__title section__title--margin-bottom">how it’s made?</h2>

    <img class="about__image" src="./images/about1x.png" alt="Корова и молоко" />
    <div class="about__container">
      <p class="about__text about__text--black-color">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. <br /><br />
        Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button class="about__button" type="button">
        Read more
        <svg class="about__icon" width="12" height="16">
          <use href="./images/sprite.svg#icon-next_arrow_icon_131519"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
