<section id="advantages" class="section-advantages">
    <div class="container container__advantages">
      <h2 class="visually-hidden">advantages</h2>
        <ul class="ul list section-advantages__list">
            <li class="ul section-advantages__item">
                <div class="section-advantages__card">
                  <img class="section-advantages__icon" src="images/advantages1.svg" alt="" width="33">
                  <h3 class="section-advantages__title">721</h3>                  
                  <p class="section-advantages__description"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa. </p>
                </div>
            </li>
          
            <li class="ul section-advantages__item">
                <div class="section-advantages__card">
                  <img class="section-advantages__icon" src="images/advantages2.svg" alt="" width="50">
                  <h3 class="section-advantages__title">16kg</h3>                  
                  <p class="section-advantages__description"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa. </p>
                </div>
            </li>
          
            <li class="ul section-advantages__item">
                <div class="section-advantages__card">
                  <img class="section-advantages__icon" src="images/advantages2.svg" alt="" width="50">
                  <h3 class="section-advantages__title">84</h3>                  
                  <p class="section-advantages__description"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa. </p>
                </div>
            </li> 
        </ul>
    </div>
</section>
