<section class="section">
  <h2 class="visual-hidden">Place of sale</h2>
  <div class="container">
    <ul class="sale-address-list">
      <li class="sale-address-list__item">
        <div class="place-of-sale__container">
          <h2 class="place-of-sale__title">CAFE</h2>
          <h3 class="place-of-sale__city">Chicago</h3>
          <p class="place-of-sale__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

          <ul class="place-of-sale__work-schedule-list">
            <li class="place-of-sale__work-schedule-item">
              <p class="place-of-sale__working-days">Monday - Friday</p>
              <p class="place-of-sale__working-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="place-of-sale__work-schedule-item">
              <p class="place-of-sale__working-days">Saturday - Sunday</p>
              <p class="place-of-sale__working-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="place-of-sale__contact-list">
            <li class="place-of-sale__contact-item">
              <a class="place-of-sale__contact-link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="place-of-sale__contact-item">
              <a class="place-of-sale__contact-link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="sale-address-list__item">
        <div class="place-of-sale__container">
          <h2 class="place-of-sale__title place-of-sale__title--other-background-color">
            FOODTRUCK
          </h2>
          <h3 class="place-of-sale__city">Los Angeles</h3>
          <p class="place-of-sale__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

          <ul class="place-of-sale__work-schedule-list">
            <li class="place-of-sale__work-schedule-item">
              <p class="place-of-sale__working-days">Monday - Friday</p>
              <p class="place-of-sale__working-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="place-of-sale__work-schedule-item">
              <p class="place-of-sale__working-days">Saturday - Sunday</p>
              <p class="place-of-sale__working-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="place-of-sale__contact-list">
            <li class="place-of-sale__contact-item">
              <a class="place-of-sale__contact-link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="place-of-sale__contact-item">
              <a class="place-of-sale__contact-link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="sale-address-list__item">
        <div class="place-of-sale__container">
          <h2 class="place-of-sale__title">CAFE</h2>
          <h3 class="place-of-sale__city">New York</h3>
          <p class="place-of-sale__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

          <ul class="place-of-sale__work-schedule-list">
            <li class="place-of-sale__work-schedule-item">
              <p class="place-of-sale__working-days">Monday - Friday</p>
              <p class="place-of-sale__working-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="place-of-sale__work-schedule-item">
              <p class="place-of-sale__working-days">Saturday - Sunday</p>
              <p class="place-of-sale__working-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <ul class="place-of-sale__contact-list">
            <li class="place-of-sale__contact-item">
              <a class="place-of-sale__contact-link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="place-of-sale__contact-item">
              <a class="place-of-sale__contact-link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="buttons-list">
      <li class="buttons-list__item"><button type="button">Our Locations</button></li>
      <li class="buttons-list__item"><button type="button">Franchise</button></li>
    </ul>
  </div>
</section>
