<section class="section section__reviews">
  <div class="container">
    <h2 class="title visually-hidden">Reviews</h2>
    <div class="slider">

      <!-- первый отзыв -->
      <div class="container__reviews">
        <div class="thumbs">
          <img
            class="reviews__img"
            src="./images/reviews_girl1_1x.png"
            alt="avatar"
            height="85"
            width="85"
          />
        </div>

        <div class="container__reviews-text">
          <div class="container__quotes">
            <div class="container__rule">
              <article class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </article>
            </div>
          </div>
        </div>

        <div class="container__contact-customer">
          <ul class="reviews__icon">
            <li class="reviews__icon-item">
              <svg class="reviews__svg" width="4" height="4">
                <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use>
              </svg>
            </li>
            <li class="reviews__icon-item">
              <svg class="reviews__svg" width="4" height="4">
                <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use>
              </svg>
            </li>
            <li class="reviews__icon-item">
              <svg class="reviews__svg" width="4" height="4">
                <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use>
              </svg>
            </li>
          </ul>

          <p class="reviews__sub-text">Emily, Los Angeles</p>
        </div>
        
      </div>
      <!-- второй отзыв -->
      <div class="container__reviews">
        <div class="thumbs">
          <img
            class="reviews__img"
            src="./images/reviews_girl2_1x.png"
            alt="avatar"
            height="85"
            width="85"
          />
        </div>

        <div class="container__reviews-text">
          <div class="container__quotes">
            <div class="container__rule">
              <article class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </article>
            </div>
          </div>
        </div>

        <div class="container__contact-customer">
          <ul class="reviews__icon">
            <li class="reviews__icon-item">
              <svg class="reviews__svg" width="4" height="4">
                <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use>
              </svg>
            </li>
            <li class="reviews__icon-item">
              <svg class="reviews__svg" width="4" height="4">
                <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use>
              </svg>
            </li>
            <li class="reviews__icon-item">
              <svg class="reviews__svg" width="4" height="4">
                <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use>
              </svg>
            </li>
          </ul>

          <p class="reviews__sub-text">Julia, Kharkiv City</p>
        </div>
        
      </div>
      <!-- третий отзыв -->
      <div class="container__reviews">
        <div class="thumbs">
          <img
            class="reviews__img"
            src="../src/images/reviews_girl3_1x.png"
            alt="avatar"
            height="85"
            width="85"
          />
        </div>

        <div class="container__reviews-text">
          <div class="container__quotes">
            <div class="container__rule">
              <article class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </article>
            </div>
          </div>
        </div>

        <div class="container__contact-customer">
          <ul class="reviews__icon">
            <li class="reviews__icon-item">
              <svg class="reviews__svg" width="4" height="4">
                <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use>
              </svg>
            </li>
            <li class="reviews__icon-item">
              <svg class="reviews__svg" width="4" height="4">
                <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use>
              </svg>
            </li>
            <li class="reviews__icon-item">
              <svg class="reviews__svg" width="4" height="4">
                <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use>
              </svg>
            </li>
          </ul>

          <p class="reviews__sub-text">Megan, Los Kyiv</p>
        </div>
      </div>

    </div>
  </div>
</section>
