<section class="section">
        <div class="container">
            <div class="reviews__container">

            <img class="reviews__img" src="../src/images/reviews_girl1_1x.png" alt="avatar" height="85" width="85">

            <p class="reviews__text">
                Nullam viverra <br> Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <ul class="reviews__icon">
                <li class="reviews__icon-item">
                    <svg class="reviews__svg" width="4" height="4">
                    <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use></svg>
                </li>
                <li class="reviews__icon-item">
                    <svg class="reviews__svg" width="4" height="4">
                    <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use></svg>
                </li>
                <li class="reviews__icon-item">
                    <svg class="reviews__svg" width="4" height="4">
                    <use href="./images/sprite.svg#icon-reviews_ellipse_red"></use></svg>
                </li>
            </ul>
            

            <p class="reviews__sub-text">
                Emily, Los Angeles
            </p>
    
            </div>
    </div>
</section>