<header class="header">
  <div class="container container--img">
    <div class="logo-nav__container">
      <a class="header__logo" href="">
        <img
          srcset="/images/logoPNG.png 1x, /images/logoPNG_2x.png 2x"
          src="/images/logoPNG.png"
          width="199"
          height="50"
          alt="logo"
      /></a>

      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link header__link--red" href="">Home</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#advantages">About us</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#about">How it’s made?</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#products">Our products</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="header__button" type="button" data-modal-openz>
        Buy now
        <svg class="menu__button-icon" width="12" height="16">
          <use href="./images/sprite.svg#icon-next_arrow_icon_131519"></use>
        </svg>
      </button>
    </div>
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg width="20" height="15">
        <use href="/images/sprite.svg#icon-menu_24px"></use>
      </svg>
    </button>

    <section class="hero">
      <img
        class="hero__img-icecream"
        srcset="/images/hero_ice_cream_1x.png 1x, /images/hero_ice_cream_2x.png 2x"
        src="/images/hero_ice_cream_1x.png"
        width="171"
        height="410"
        alt="icecream"
      />
      <h1 class="hero__main-title">
        ice cream made with <span class="hero__main-title--red">passion</span>
      </h1>
      <div class="hero__button-container">
        <a href="#products" class="hero__button"> Products </a>
        <a href="#about" class="hero__button hero__button--white"> How it’s made? </a>
      </div>
      <ul class="hero__amount-list">
        <li class="hero__amount-item">
          <p class="hero__amount-number">16<span class="hero__amount-text">cafes</span></p>
        </li>
        <li class="hero__number-item">
          <p class="hero__amount-number hero__amount-number--23">
            23<span class="hero__amount-text">food trucks</span>
          </p>
        </li>
      </ul>
      <div class="container__img-text-link">
        <img
          class="hero__img-pitcher"
          srcset="/images/hero_milk_1x.png 1x, /images/hero_milk_2x.png 2x"
          src="/images/hero_milk_1x.png"
          width="124"
          height="126"
          alt="milk-pitcher"
        />
        <p class="hero__lorem">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a class="hero__arrow-link" href="#"
          ><svg class="hero__arrow-icon" width="8" height="8">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>

      <img
        class="hero__img-girl"
        srcset="/images/hero_girl_1x.png 1x, /images/hero_girl_2x.png 2x"
        src="/images/hero_girl_1x.png"
        width="168"
        height="133"
        alt="girl"
      />
    </section>
  </div>
</header>
