<header class="header">
      <div class="container">
         <div class="logo-nav__container">
            <a class="header__logo" href="">
        <img src="/images/logoPNG.png"
        width="199"
        height="50"
        alt="logo"
        ></a>

        <nav class="header__nav">
         <ul class="header__list">
            <li class="header__item">
               <a class="header__link header__link--red" href="">Home</a>
            </li>
            <li class="header__item">
               <a class="header__link" href="">About us</a>
            </li>
            <li class="header__item">
               <a class="header__link" href="">How it’s made?</a>
            </li>
            <li class="header__item">
               <a class="header__link" href="">Our products</a>
            </li>
            <li class="header__item">
               <a class="header__link" href="">Contact</a>
            </li>
         </ul>
       
        </nav> 
      </div>
        <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
     >
        <svg width="20" height="12">
           <use href="/images/sprite.svg#icon-menu_24px"></use>
        </svg>
     </button>
   </div>
</header>
       <section class="hero">
         <div class="container">
     <img class="hero__img-icecream" src="/images/hero_ice_cream_1x.png"
        width="171"
        height="410"
        alt="icecream"
        >
        <h1 class="hero__main-title">ice cream
         made with <span class="hero__main-title--red">passion</span>
       </h1>
       <div class="hero__button-container">
       <a href="" class="hero__button">
         Products
       </a>
       <a href="" class="hero__button hero__button--white">
         How it’s made?
       </a>
      </div>
         </div>
       </section> 


