<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="container__menu">
    <button class="menu-toggle-close js-close-menu">
      <svg width="18.67" height="18.67">
        <use href="./images/sprite.svg#icon-close_24px"></use>
      </svg>
    </button>
    <button class="menu__button" type="button" data-modal-open>
      Buy now
      <svg class="menu__button-icon" width="12" height="16">
        <use href="./images/sprite.svg#icon-next_arrow_icon_131519"></use>
      </svg>
    </button>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link menu__link--red" href="">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#advantages">About us</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#about">How it’s made?</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#products">Our products</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#contacts">Contact</a>
      </li>
    </ul>
  </div>
</div>
