<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <button data-modal-close class="modal__button" type="button">
      <svg class="modal__icon" width="11px" height="11px">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="cont">
      <h2 class="section__pre-title title section__pre-title--margin-bot">
        Lorem ipsum dolor sit amet
      </h2>
      <p class="modal__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, unde reprehenderit
        voluptates fugiat aut, in rem architecto maiores deserunt inventore veniam illo, animi sunt
        nam illum. Alias, unde reprehenderit voluptates fugiat aut!
      </p>

      <img class="modal__img" src="./images/modal-img.jpg" alt="Мороженное" />
    </div>
  </div>
</div>
