<section>
  <div class="container">
    <h2>products</h2>
    <ul class="product">
      <li class="product__item product__item--pink">
        <h3 class="product__header">ice cream</h3>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="product__button"></button>
      </li>
      <li class="product__item product__item--brown">
        <h3 class="product__header">ice coffee</h3>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="product__button"></button>
      </li>
      <li class="product__item product__item--green">
        <h3 class="product__header">milkshakes</h3>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="product__button"></button>
      </li>
    </ul>
    <button type="button"></button>
  </div>
</section>
