.media-list {
  display: flex;
  justify-content: flex-end;
  @media screen and (min-width: $min-mobile) and (max-width: $desktop - 1) {
    margin-bottom: 46px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }

  &__link {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    color: $main-text-color;
    background-color: $bg-color-media-link;

    @media screen and (min-width: $tablet) {
      width: 34px;
      height: 34px;
    }
    transition: color $transition-duration $timing-function,
      background-color $transition-duration $timing-function;
    &:hover,
    &:focus,
    &:active {
      color: $main-text-color;
      background-color: $accent-color;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
