// места продаж
.place-of-sale {
  &__container {
    padding: 43px 20px;
    color: $text-color-description;
    background-color: $bg-color-light;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }

  // название места продажи
  &__title {
    padding: 0 16px;
    margin-bottom: 25px;
    display: inline-block;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: $product2-card-color;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }

    &--other-background-color {
      background-color: $product3-card-color;
    }
  }

  &__city {
    margin-bottom: 10px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: $text-color-dark;
  }

  &__text {
    margin-bottom: 25px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $text-color-description;
  }

  &__city,
  &__text {
    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }

  &__work-schedule-item {
    :not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__working-days {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: $text-color-dark;
  }

  &__working-hours {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: $lable-pink-color;
  }

  &__contact-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $text-color-description;
  }

  &__work-schedule-list {
    margin-bottom: 25px;
    padding: 25px 0;
    border-top: 1px solid $bg-color-line;
    border-bottom: 1px solid $bg-color-line;
  }
}
