.about {
  background-color: $bg-color-main;
  padding-top: 125px;
  padding-bottom: 39px;
  background-repeat: no-repeat;
  background-size: 320px 133px;
  background-image: url(../images/about_background.png);
  background-position: 0 85%;
}
.about__pre-title {
  margin-bottom: 15px;
  font-family: $title-font;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
  color: $lable-pink-color;
}
.about__title {
  margin-bottom: 26px;
  font-family: $title-font;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  text-transform: uppercase;
  color: $title-text-color;
}
.about__image {
  margin: 0 auto 46px;
  width: 280px;
}
.about__container {
  width: 220px;
  margin: 0 auto;
}
.about__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
  margin-bottom: 47px;
}
.about__text--black-color {
  color: #000000;
}

.about__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 176px;
  background-color: $main-text-color;
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.286;
  color: $title-text-color;

  &:focus,
  &:hover {
    background-color: $bg-color-btn-hover;
    cursor: pointer;
  }
}
.about__icon {
  fill: currentColor;
  margin-left: 20px;
}
