.about {
  background-color: $bg-color-main;
  padding-top: 125px;
  padding-bottom: 39px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/about_background.png);
  background-position: 0 85%;
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    padding-top: 130px;
    padding-bottom: 66px;
    background-image: none;
  }
}

.section__pre-title--margin-bottom {
  margin-bottom: 15px;
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    margin-bottom: 16px;
  }
}
.section__title--margin-bottom {
  margin-bottom: 26px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 50px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 55px;
  }
}
.about__flex-container {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
  /*  @media screen and (min-width: $desktop) {
    width: 463px;
  } */
}
.about__image {
  width: 280px;
  @media screen and (max-width: $tablet - 1) {
    margin: 0 auto 46px;
  }
  @media screen and (min-width: $mobile) {
    width: 450px;
  }
  @media screen and (min-width: $tablet) {
    width: 340px;
    /* margin: 0 auto; */
  }
  @media screen and (min-width: $desktop) {
    width: 516px;
  }
}
.about__container {
  width: 220px;

  @media screen and (max-width: $tablet - 1) {
    margin: 0 auto;
  }
  @media screen and (min-width: $mobile) {
    width: 350px;
  }
  @media screen and (min-width: $tablet) {
    width: 340px;
    padding-top: 50px;
    margin-left: 17px;
  }
  @media screen and (min-width: $desktop) {
    width: 463px;
    margin-left: 74px;
  }
}
.about__text {
  font-weight: 500;
  line-height: 1.62;
  color: #907e82;

  @media screen and (min-width: $min-mobile) and (max-width: $tablet - 1) {
    margin-bottom: 47px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and (min-width: $desktop) {
    line-height: 1.94;
  }
}
.about__text--black-color {
  color: #000000;
  @media screen and (min-width: $tablet) {
    margin-bottom: 49px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.76;
    margin-bottom: 35px;
  }
}
.about__text--margin-bottom {
  @media screen and (min-width: $tablet) {
    margin-bottom: 62px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 45px;
  }
}
.about__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 176px;
  background-color: $main-text-color;
  border: none;
  border-radius: 22px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.286;
  transition: background-color $transition-duration $timing-function;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.313;
  }

  &:focus,
  &:hover {
    background-color: $bg-color-btn-hover;
    cursor: pointer;
  }
}
.about__icon {
  fill: currentColor;
  margin-left: 20px;
}
