.section-advantages{
padding-bottom: 97px;
padding-left: 10px;
background-color: $bg-color-main;
color: $second-text-color;
@media screen and (min-width: $desktop) {
padding-bottom: 139px;
}
  &__card{
    margin-bottom: 38px;
    padding-right: 80px;
  }
  &__list{
    margin-bottom: -38px;
    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }
  &__icon{
      margin-bottom: 16px;
      @media screen and (min-width: $tablet) {
        margin-bottom: 36px;
      }
  }
  &__title{
    color: $title-text-color;
    font-family: $title-font;
    font-style: normal;
    font-size: 36px;
    letter-spacing: 0.04em;
    line-height: 1.145;
    margin-bottom: 16px;
    @media screen and (min-width: $desktop) {
      font-size: 56px;
    }
  }
  &__description{
    font-family: $main-font;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 0em;
    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 16px;
    }
  }
}
