// Не забываем в секциях про контейнеры и сдесь их стилизируем
.container {
  margin: 0 auto;

  @media screen and (min-width: $min-mobile) and (max-width: $tablet - 1) {
    width: 90vw;
  }

  @media screen and (min-width: $tablet) {
    padding: 0 15px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }

  // контейнер для отзыва
  &__reviews {
    background-color: $bg-color-light;
  }

  // контейнер для текста отзыва
  &__reviews-text {
    margin-bottom: 30px;
    padding: 43px 50px 20px;
    background-color: $bg-color-review;
  }

  &__quotes {
    position: relative;

    @media screen and (min-width: $tablet) {
      margin: 0 auto;
      width: 524px;
    }

    @media screen and (min-width: $desktop) {
      width: 813px;
    }
  }
  // контейнер для линеек подчеркивания
  &__rule {
    padding-top: 3px;
    background: repeating-linear-gradient(
      transparent,
      transparent 29px,
      $bg-color-line 30px,
      transparent 31px
    );

    @media screen and (min-width: $tablet) {
      background: repeating-linear-gradient(
        transparent,
        transparent 28px,
        $bg-color-line 29px,
        transparent 30px
      );
    }

    @media screen and (min-width: $desktop) {
      background: repeating-linear-gradient(
        transparent,
        transparent 31px,
        $bg-color-line 33px,
        transparent 34px
      );
    }

    // символ кавычек в отзыве
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate3d(0, -12px, 0);
      content: '';
      width: 54px;
      height: 40px;
      display: block;
      background-image: url('../images/quotes.png');
    }
  }

  &__contact-customer {
    padding: 0 54px;
    margin-bottom: 30px;
  }

  &__slider-buttons {
    display: flex;
    justify-content: center;
  }

  &__media {
    @media screen and (min-width: $tablet) {
      padding: 0 36px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__sale-address {
    padding: 0 30px;

    @media screen and (min-width: $desktop) {
      padding: 0 100px;
    }
  }

  &__description {
    margin-bottom: 43px;
    @media screen and (min-width: $min-mobile) and (max-width: $mobile - 1) {
      padding: 0 66px 0 20px;
    }
    @media screen and (min-width: $mobile) {
      width: 340px;
    }

    @media screen and (min-width: $desktop) {
      width: auto;
      margin-bottom: 0;
    }
  }

  &__media-list {
    @media screen and (min-width: $min-mobile) and (max-width: $tablet - 1) {
      padding-right: 20px;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 1200px) {
     max-width: 1200px;
  }
  &--img {
    @media screen and (min-width: 1200px) {
       max-width: 1200px;
      position: relative;
    }
  }
}
