// Не забываем в секциях про контейнеры и сдесь их стилизируем
.container {
  @media screen and (min-width: $min-mobile) and (max-width: $tablet - 1) {
    width: 90vw;
  }
  margin: 0 auto;

  &__sale-address {
    padding: 0 30px;
  }
}
