.footer-section {
  padding-bottom: 43px;
}

.description {
  &__container {
    padding: 0 66px 0 20px;
    margin-bottom: 43px;
  }

  &__pre-title {
    margin-bottom: 17px;
    font-family: $title-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6667;
    text-transform: uppercase;
    color: $lable-pink-color;
  }

  &__accent-title {
    font-family: $title-font;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1.147;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
  }
}

.contact-footer {
  &__text {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.86;
    color: #000000;
  }

  &__link {
    color: $accent-color;
  }
}

.copyright {
  &__text {
    margin: 0 auto;
    display: block;
    width: 150px;
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    color: #907e82;
  }
}
