.section-gallery {
  margin-bottom: 80px;
  display: block;
  width: 100%;}
  .gallery__picture{
    object-fit: cover
  }

  @media screen and (min-width: 360px) {

  }
  @media screen and (min-width: 410px) {

  }
  @media screen and (min-width: 460px) {
 
  }
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
   
  }



