.header {
  position: relative;
  height: 502px;
  background-color: rgba(255, 184, 202, 1);
  background-image: url(../images/hero_ellipse538pink.svg);
  background-size: 346px 344px;
  background-repeat: no-repeat;
  background-position: 110% 50%;

  @media screen and(min-width:$tablet) {
    height: 399px;
    padding-top: 38px;
    padding-left: 34px;
    padding-right: 34px;
    background-image: url(../images/hero_ellipse30white.svg), url(../images/hero_ellipse30white.svg),
      url(../images/hero_ellipse538pink.svg);
    background-size: 16px 16px, 16px 16px, 322px 324px;
    background-position: 94% 43%, 94% 25%, 70% 45%;
  }
  @media screen and(min-width:$desktop) {
    height: 665px;
    padding-top: 38px;
    background-image: url(../images/hero_ellipse538pink.svg);
    background-size: 538px 538px;
    background-position: 70% 45%;
  }
}
.header__logo {
  display: block;
  padding: 6px;
  border-radius: 30px;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #d0eb9b;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and(min-width:$tablet) {
    margin-bottom: 120px;
  }
  @media screen and(min-width:$desktop) {
    margin-bottom: 0;
  }
}

.logo-nav__container {
  display: flex;
  justify-content: space-between;
  @media screen and(min-width:$desktop) {
    align-items: center;
  }
}
.header__nav {
  @media screen and(max-width:$desktop - 1) {
    display: none;
  }
}
.header__list {
  list-style: none;
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 35px;
}
.header__link {
  text-decoration: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.312;
  color: $main-text-color;
  padding: 10px 0;
  &:focus,
  &:hover {
    color: rgb(179, 235, 69);
  }
  &--red {
    color: $title-text-color;
  }
}
.menu-toggle {
  position: absolute;
  background: rgba(255, 184, 202, 1);
  border: 0;
  fill: #d41443;
  top: 22px;
  right: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    fill: rgb(179, 235, 69);
    cursor: pointer;
  }
  @media screen and(min-width:$tablet) {
    top: 52px;
    right: 30%;
    background: rgba(255, 165, 186, 1);
  }
  @media screen and(min-width: $desktop) {
    display: none;
  }
}
.header__button {
  width: 170px;
  height: 44px;
  padding: 14px 35px;

  background-color: $main-text-color;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.312;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $title-text-color;
  &:focus,
  &:hover {
    background-color: $bg-color-btn-hover;
    cursor: pointer;
  }
  @media screen and(max-width:$tablet - 1) {
    display: none;
  }
}

.hero__img-icecream {
  position: absolute;
  bottom: 0;
  right: 32px;

  &:hover {
    cursor: pointer;
    transform: rotateZ(360deg);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and(min-width:$tablet) {
    width: 143px;
    height: 336px;
    right: 30%;
  }
  @media screen and(min-width:$desktop) {
    width: 236px;
    height: 557px;
    top: 70px;
  }
}
.hero__main-title {
  position: absolute;
  width: 218px;
  height: 106px;
  bottom: 190px;
  color: $main-text-color;
  font-family: $title-font;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.153;
  text-transform: uppercase;
  &--red {
    font-size: 49px;
    line-height: 0.958;
    color: $title-text-color;
    @media screen and(min-width:$desktop) {
      font-size: 58px;
    }
  }
  @media screen and(min-width:$tablet) {
    width: 162px;
    height: 80px;
    top: 102px;
  }
  @media screen and(min-width:$desktop) {
    width: 277px;
    height: 137px;
    top: 171px;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
.hero__button-container {
  top: 260px;
  position: relative;
  display: block;
  justify-content: center;
  align-items: baseline;
  @media screen and(min-width:$tablet) {
    top: 5px;
  }
  @media screen and(min-width:$desktop) {
    top: 270px;
  }
}
.hero__button {
  position: relative;
  text-decoration: none;
  border-radius: 50px;
  background-color: $title-text-color;
  padding: 7px 13px;
  font-size: 8px;
  line-height: 1.25;
  color: $main-text-color;
  text-align: center;
  margin-right: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    cursor: pointer;
    color: $main-text-color;
  }
  @media screen and(min-width:$desktop) {
    padding: 10px 15px;
    font-size: 14px;
    margin-right: 15px;
  }
}
.hero__button--white {
  position: relative;
  color: $title-text-color;
  background-color: $main-text-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $title-text-color;
    background-color: $bg-color-btn-hover;
    cursor: pointer;
  }
}
.hero__amount-list {
  @media screen and(max-width:$tablet - 1) {
    display: none;
  }
}
@media screen and(min-width:$desktop) {
  .hero__amount-list {
    position: relative;
    width: 60px;

    &::before {
      position: relative;
      top: 130px;
      left: 60px;
      content: '';
      width: 30px;
      height: 30px;
      display: block;
      background-image: url('../images/hero_ellipse30white.svg');
    }
    left: 1000px;
  }
}

.hero__amount-item {
  margin-bottom: 15px;
  @media screen and(min-width:$desktop) {
    margin-bottom: 25px;
    &::before {
      position: relative;
      left: 60px;
      content: '';
      width: 30px;
      height: 30px;
      display: block;
      background-image: url('../images/hero_ellipse30white.svg');
    }
  }
}
.hero__amount-number {
  position: absolute;
  right: 50px;
  top: 100px;
  display: flex;
  flex-direction: column;
  font-family: $title-font;
  font-size: 28px;
  line-height: 1.142;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $title-text-color;
  &--23 {
    right: 50px;
    top: 170px;
  }
  @media screen and(min-width:$desktop) {
    font-size: 46px;
    top: 35px;
    left: 20px;
    &--23 {
      top: 135px;
    }
  }
}

.hero__amount-text {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  letter-spacing: 0.01em;
  color: $main-text-color;
  @media screen and(min-width:$desktop) {
    font-size: 14px;
  }
}
.container__img-text-link {
  @media screen and(min-width:$desktop) {
    position: relative;
    top: 450px;
  }
}
.hero__img-pitcher {
  position: absolute;

  @media screen and(max-width:$tablet - 1) {
    display: none;
  }
  @media screen and(min-width:$desktop) {
    width: 188px;
    height: 191px;
    bottom: 30px;
  }
}
.hero__lorem {
  position: absolute;
  bottom: 65px;
  margin-left: 110px;

  width: 114px;
  height: 48px;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: $main-text-color;
  @media screen and(max-width:$tablet - 1) {
    display: none;
  }
  @media screen and(min-width:$desktop) {
    font-size: 14px;
    width: 200px;
    height: 78px;
    bottom: 90px;
    margin-left: 180px;
  }
}
.hero__arrow-link {
  @include centeredFlex();
  position: absolute;
  background-color: $main-text-color;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  bottom: 40px;
  margin-left: 110px;

  @media screen and(max-width:$tablet - 1) {
    display: none;
  }
  @media screen and(min-width:$desktop) {
    width: 26px;
    height: 26px;
    bottom: 50px;
    margin-left: 180px;
  }
}
.hero__arrow-icon {
  fill: $title-text-color;
  @media screen and(min-width:$desktop) {
    width: 8px;
    height: 8px;
  }
}

.hero__img-girl {
  position: absolute;
  width: 167px;
  height: 133px;
  bottom: 0;

  right: 60px;
  @media screen and(max-width:$tablet - 1) {
    display: none;
  }
  @media screen and(min-width:$desktop) {
    right: 0;
    width: 293px;
    height: 232px;
    top: 395px;
    right: 3%;
  }
}
